<div class="container">
  <h2 class="p-3 text-light rounded" style="background-color:#4CA2FF;">
    <i class="fas fa-info-circle fa-lg ml-2"></i>
    俳優のための情報共有アプリ
  </h2>
  <h1 class="top-font">Actor Connection</h1>
  
  <div class="row">
    <div class="col-7">
      <%= image_tag "/images/Top-img.jpg", class:"w-100" %>
    </div>
    <div class="col-5 pl-0">
      <p class="border rounded p-3">最近、なに見た？</p>
      <p class="border rounded p-3">これ面白かった！</p>
      <p class="border rounded p-3">見てみようかな。</p>
      <p class="border rounded p-3">こんなのあるよ！</p>
    </div>
  </div>

  <h2 class="mt-5 mb-4 p-3 text-light rounded" style="background-color:#4CA2FF;">
    <i class="fas fa-user-friends fa-lg ml-2"></i>
    演劇情報を総まとめ
  </h2>
      <ul class="list-unstyled" style="font-size:2.4rem;">
        <li class="ml-2 mt-4"><i class="fas fa-book-open fa-lg mx-3"></i>気になる戯曲が見つかる</li>
        <li class="ml-2 mt-4"><i class="fas fa-theater-masks fa-lg mx-3"></i>上演中の舞台を見逃さない</li>
        <li class="ml-2 mt-4"><i class="fas fa-film fa-lg mx-3"></i>好きな映画を登録できる</li>
        <li class="ml-2 mt-4"><i class="fas fa-star fa-lg mx-3"></i>気になる作品はお気に入り</li>
        <li class="ml-2 mt-4"><i class="fas fa-check-circle fa-lg mx-3"></i>レビューを書いておすすめしよう</li>
      </ul>
      <h2 class="mt-5 ml-sm-2 mb-4">
        あなたが繋げる <span style="font-family: 'Dancing Script', cursive; font-size: 4.8rem; color:#4CA2FF;">Actor Connection</span>
      </h2>
  <div class="text-center", style="margin-top: 2.8rem;">
    <%= link_to "新規登録はこちら", signup_path, class:"w-75 shadow btn btn-outline-primary my-4", style:"font-size: 2.8rem;" %>
    <%= link_to "ログイン", login_path, class:"w-25 btn btn-outline-secondary", style:"font-size: 1.4rem; margin-bottom: 8.4rem;" %>
  </div>
</div>