<div class="container p-0 text-center ">
  <div class="row">
    <h2 class="mb-lg-3 offset-lg-2">映画情報修正</h2>
  </div>
  <%= form_with model: @movie, url: dashboard_movie_path(@movie), local: true do |f| %>
    <%= render partial: "dashboard/movies/form", locals: {f: f, submit: "更新"}%>
  <% end %>

  <div class="row">
    <%= link_to dashboard_movies_path, class:"offset-lg-2 mt-5 text-secondary" do %>
      <i class="far fa-hand-point-left"></i>
      Back
    <% end %>
  </div>
</div>
