<nav class="navbar navbar-expand-md navbar-light shadow-sm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <p class="navbar-brand mr-md-5" href="/" style="font-family: 'Dancing Script'; font-size: 2.1rem;, cursive;">
      <i class="fas fa-users mr-2"></i>
      Actor Connection
    </p>
  <% end %>
</nav>