<div class="modal" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title text-center" id="newModalLabel">
          <i class="fas fa-film fa-2x mx-2 text-primary"></i>
          <p class="d-inline"><i class="fas fa-plus mr-2"></i>映画情報をリクエストする</p>
        </label>
        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <%= form_with model: @movie do |f| %>
        <div class="modal-body">
          <%= render partial: "movies/form", locals: {f: f} %>
        </div>
        <div class="modal-footer">
          <%= f.submit "リクエスト", class:"btn btn-primary w-25 mr-lg-5 my-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#newModal').on('shown.bs.modal', function (){
    $('#newInput').trigger('focus');
  });
</script>