<div class="container p-0 text-center ">
  <div class="row">
    <h2 class="mt-5 mb-lg-3 offset-lg-2">戯曲登録</h2>
  </div>
  <%= form_with model: @theater, url: dashboard_theaters_path, local: true do |f| %>
    <%= render partial: "dashboard/theaters/form", locals:{f: f, submit: "登録"} %>
  <% end %>

  <div class="row">
    <%= link_to dashboard_theaters_path, class:"offset-lg-2 mt-5 text-secondary" do %>
      <i class="far fa-hand-point-left"></i>
      Back
    <% end %>
  </div>
</div>
