<div class="container  d-flex justify-content-center mt-3">
  <div class="w-75">
    <h1>お気に入り</h1>

    <hr>

    <div class="row">
      <% @favorites.each do |favorite| %>
        <div class="col-md-8 mt-2">
          <div class="d-inline-flex">
            <%= link_to theater_path(favorite), class: "w-25" do %>
              <%= favorite.title %>
            <% end %>
            <div class="container mt-3">
              <p class="w-100"><%= favorite.writer %></p>
            </div>
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end">
          <%= link_to theater_path(favorite) do %>
            削除
          <% end %>
        </div>
      <% end %>
    </div>

    <hr>

  </div>
</div>