<div class="container">
  <div class="row">
    <h2 class="mt-5 mb-3 col-4 offset-4 p-3 text-light" style="background-color: #4CA2FF;">マイページ</h2>
  </div>

  <div class="row">
    <div class="row offset-4">
      <%= link_to mypage_edit_users_path, class:"text-decoration-none text-dark" do %>
        <div class="d-flex align-items-center">
          <div class="col-2 align-items-center">
            <i class="fas fa-user fa-3x fa-fw"></i>
          </div>
          <div class="col-8 align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">会員情報の編集</label>
              <p>アカウント情報の編集</p>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center">
              <i class="fas fa-chevron-right fa-2x"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="row offset-4">
      <%= link_to mypage_edit_password_users_path, class:"text-decoration-none text-dark" do %>
        <div class="d-flex align-items-center">
          <div class="col-2 align-items-center">
            <i class="fas fa-lock fa-3x fa-fw"></i>
          </div>
          <div class="col-8 align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">パスワード変更</label>
              <p>パスワードを変更します</p>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center">
              <i class="fas fa-chevron-right fa-2x"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="row offset-4">
      <%= link_to logout_path, class:"text-decoration-none text-dark" do %>
        <div class="d-flex align-items-center">
          <div class="col-2 align-items-center">
            <i class="fas fa-sign-out-alt fa-3x fa-fw"></i>
          </div>
          <div class="col-8 align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">ログアウト</label>
              <p>ログアウトします</p>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center">
              <i class="fas fa-chevron-right fa-2x"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>