<% @favorites_theater.each do |theater| %>
  <div class="col mb-4">
    <div class="card h-100 shadow-sm">
      <%= render partial: "posts/theater", locals: {post: theater} %>
    </div>
  </div>
<% end %>