<div class="container p-0 w-50 text-center ">
  <div class="row">
      <h2 class="mt-5 mb-lg-3 offset-lg-1">管理者ログイン</h2>
  </div>
  <%= render "layouts/devise/sessions_new", resource: resource, resource_name: resource_name %>
</div>