@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap');

@media screen and (min-width: 768px) {
  html {
      font-size: 70%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 57.5%;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 45%;
  }
}

body {
  margin: 0;
  font-size: 1.4rem;
  margin-top: 11vh;
  min-height: 82vh;
  margin-bottom: 7vh;
}

h1 { font-size: 5.6rem; }
h2 { font-size: 2.8rem; }

.error-text {
  color: #ff0400;
}

.top-font {
  font-family: 'Dancing Script', cursive;
  font-size: 6.0rem;
}

.user-edit-label {
  cursor: pointer;
  cursor: hand;
}