// Place all the styles related to the Stages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#company {
  color: #b9b9b9;
}

#image {
  width: 15vw;
}

#map {
  height: 50vh;
  width: 100%;
}