// Place all the styles related to the web controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.top-font {
  font-family: 'Russo One', cursive;
  font-size: 7vw;
}

.signup_btn {
  border: 1px solid;
  color: #4CA2FF;
  border-color: #4CA2FF;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: white;
    background-color: #4CA2FF;
    text-decoration: none;
  }
}

.top-intro {
  font-size: 2.8rem;
}

.web_body {
  margin-bottom: 15vh;
}