// Place all the styles related to the web controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#signup_btn {
  color: #4CA2FF;
  border-color: #4CA2FF;
  &:hover {
    color: white;
    background-color: #4CA2FF;
  }
}

#top-intro {
  font-size: 2.8rem;
}