<h1>Theaters#index</h1>

<% @theaters.each do |theater| %>
  <%= theater.title %>
  <%= theater.writer %>
  <%= link_to "Show", theater_path(theater) %>
<% end %>

<%= link_to "New", new_theater_path %>
