<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="mt-5 p-3 text-light" style="background-color:#4CA2FF;">
        <i class="fas fa-info-circle fa-lg ml-2"></i>
        俳優のための情報共有アプリ
      </h2>
      <h1 class="top-font">Actor Connection</h1>
      
      <div class="row">
        <div class="col-8">
          <%= image_tag "/images/Top-img.jpg", class:"w-100 mb-4" %>
        </div>
        <div class="col-4">
          <p class="border rounded p-3">最近、なに見た？</p>
          <p class="border rounded p-3">これ面白かった！</p>
          <p class="border rounded p-3">見てみようかな。</p>
          <p class="border rounded p-3">こんなのあるよ！</p>
        </div>
      </div>

      <h2 class="mt-5 mb-4 p-3 text-light" style="background-color:#4CA2FF;">
        <i class="fas fa-user-friends fa-lg ml-2"></i>
        演劇情報を総まとめ
      </h2>
      <ul class="list-unstyled">
        <li class="m-3"><i class="fas fa-book-open fa-lg mx-3"></i>気になる戯曲が見つかる！</li>
        <li class="m-3"><i class="fas fa-theater-masks fa-lg mx-3"></i>上演中の舞台を見逃さない！</li>
        <li class="m-3"><i class="fas fa-film fa-lg mx-3"></i>今日の映画はこれを見よう！</li>
        <li class="m-3"><i class="fas fa-calendar-check fa-lg mx-3"></i>見やすいワークショップ情報！</li>
      </ul>
      <div class="text-center", style="margin-top: 2.8rem;">
        <%= link_to "新規登録はこちら", signup_path, class:"w-75 shadow btn btn-outline-primary my-5", style:"font-size: 2.8rem;" %>
        <%= link_to "ログイン", login_path, class:"w-25 btn btn-outline-secondary", style:"font-size: 1.4rem; margin-bottom: 8.4rem;" %>
      </div>
    </div>
  </div>
</div>