<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm position-fixed w-100" style="bottom: 0;">
  <%= link_to root_path, class: "navbar-brand mx-auto" do %>
    &copy; 2021 Actor Connection
  <% end %>
</nav>